.products-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  }

.products-wrapper {
	margin: 10px;
	width: auto;
	border: 4px solid purple;
	border-radius: 10px;
}

.itempic {
	height: 100px;
	margin: 10px 10px;
	border-radius: 15px;
}